################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Empresta.Api/bin/Debug/net8.0
/src/Empresta.Api/obj
/Empresta.Dominio/obj
